@font-face {
    font-family: slkscr;
    src: url(../Assets/Fonts/Silkscreen/slkscr.ttf);
}

/**Style**/

.hell-end {
    color: #ff77a8;
}

.hell-end-bg {
    background-color: #dd3270;
    color: #FEFACC;
    border: none;
    font-weight: 800;
    font-size: 16px;
}

.re-bot {
    color: #EA752B;
}

.jumbbubble {
    color: #98E3E8;
}

.rainbow-seven {
    color: #ad84df;
}

* {
    font-family: "slkscr" !important;
}

.box {
    position: relative;
    top: 30px;
    background-color: #0A0D14;
    color: #fffcdf;
}

#go-down {
    transform: translateY(18%);
}

#go-up {
    margin: auto;
}

#send-name {
    background-color: #30B33A;
    color: #FEFACC;
}

#send-name-border {
    border: 2px solid #30B33A !important;
}

section.banner {
    padding: 210px 0;
    position: relative;
    min-height: 700px;
    background-image: url(../Assets/background_sky-export.png);
    width: 100%;
    background-size: cover;
    background-position: center;
}

section.banner > .container {
    position: relative;
    z-index: 2;
}

.overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, .4);
}

.main-banner h2 {
    color: #ad84df;
    font-size: 45px;
}

.main-banner p {
    margin: 15px;
    color: #ad84df;
    font-size: 22px;
    font-weight: 350 !important;
}

.main-banner a {
    display: inline-block;
    color: #FEFACC;
    background: #9163ca;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 19px;
}

section.main-register {
    background: #ff77a8;
    padding: 20px 0;
}

section.main-register h2 {
    color: white;
}

section.main-register input[ type=text] {
    width: 85%;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #ccc;
}

section.main-register input[ type=submit] {
    margin-top: 6px;
    width: 15%;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #ccc;
}

section.differentials {
    padding: 30px 0;
    background: #090225;
}

section.differentials p {
    font-size: 18px;
}

section.differentials > h2 {
    color: #4b4b4b;
    text-decoration: underline;
}

.differentials-container {
    margin-top: 25px;
}

.differentials-container svg {
    color: #9163ca;
    
}

#abilities-title {
    color: #FEFACC;
    text-decoration: underline;
}

section.testimonial {
    padding: 20px 0;
    background-color: #060214;
}

section.testimonial h2 {
    color: #6A87A1;
    text-decoration: underline;
}

section.testimonial blockquote {
    color: #6A87A1;
    font-size: 20px;
}

section.team h2 {
    margin: 0;
    padding: 10px 2%;
    text-align: center;
    background: #EA752B;
    color: white;
    text-decoration: underline;
}

#comment {
    background-color: transparent;
    color: #FEFACC;
}

.link-warning {
    color: #EA752B !important;
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-single {
    width: 100%;
    margin: 15px 15px;
    padding: 20px 10px;
    border: 1px solid #ccc;
    box-shadow: 8px 7px 5px -3px rgba(20, 20, 20, .6);
    min-height: 200px;
    height: 100%;
}

.user-picture {
    width: 100%;
    padding-top: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.user-picture-child {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    /* circle */
}

#hell-end-picture {
    border-radius: 0% !important;
}

#hell-end-picture img {
    border-radius: 0% !important;
}

.user-picture-child img {
    border-radius: 50%;
}

section.contract-plans {
    padding: 30px 0;
    margin: 10px 0;
    color: #4b4b44;
}

section.contract-plans h2 {
    margin-bottom: 20px;
    margin-top: 0;
    color: #4b4b4b;
    font-size: 30px;
}

section.contract-plans textarea {
    height: 120px;
}

section.contract-plans button {
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #4b4b4b;
    background: #4b4b4b;
    color: white;
}

section.contract-plans table {
    margin-bottom: 20px;
    margin-top: 0;
}

/**Responsive**/

@media screen and (max-width: 1024px) {
    section.main-register input[ type=submit] {
        margin-top: 6px;
        width: 15%;
        height: 40px;
        border: 1px solid #ccc;
        background-color: #ccc;
    }

    .user-picture {
        width: 40%;
        padding-top: 40%;
        position: relative;
    }
}

@media screen and (max-width: 500px) {
    section.main-register input[ type=submit] {
        margin-top: 8px;
        width: 200px;
        display: inline-block;
    }

    .main-banner h2 {
        font-size: 40px;
        color: #26A599;
    }
}